<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>bCatalog</title>
</head>
<body>
<!--init vue-->
<script src="https://unpkg.com/vue"></script>

<!--Vue application-->
<div id="vueApp">

	<!--App header-->
	<div class="header">
		<div class="title">Book catalog demo app. NodeJS, Express, Mongoose, VueJS.</div>
		<div class="search">
			<input style="width: 250px;" v-model="search" placeholder="Search..">
		</div>
	</div>

	<!--Draw books-->
	<div class="books-bg" align="center">
		<div v-if="data.length == 0">Empty list</div>
		<div v-else class="book" v-for="book in data" v-on:click="editBook(book)">
			<div><b>{{book.name}}</b></div>
			<div><i>{{book.author}}</i></div>
		</div>
	</div>

	<!--Edit/add modal dialog-->
	<div v-if="visible == true" class="edit-background">
		<div class="edit-body">	
			<center><b>{{dialogDescription}}</b></center>
			<br>
			<table style="table-layout: fixed; width:100%" class="edit-table">
				<tr>
					<td>Book: </td>
					<td width=80%>
						<input style="width:100%" type="text" v-model="name" placeholder="Book title">
					</td>
				</tr>
				<tr>
					<td>Author: </td>
					<td width=80%>
						<input style="width:100%" type="text" v-model="author" placeholder="Book author">
					</td>
				</tr>
				<tr>
					<td colspan=2>Description: </td>
				</tr>
				<tr>
					<td colspan=2>
					<textarea style="resize: none; width:100%; height:200px" type="text" v-model="description" placeholder="Book description"></textarea>
					</td>
				</tr>
				</table>
				<!--Save, Remove, Create and Close buttons-->
				<div class="btn-container">
					<!--Save button enabled/disabled-->
					<button class="btn" v-if="editMode == true && valid == true" v-on:click="save()">Save</button>
					<button class="btn disabled" v-if="editMode == true && valid == false">Save</button>

					<!--Remove button-->
					<button class="btn remove" v-if="editMode == true" v-on:click="remove()">Remove</button>

					<!--Create button enabled/disabled-->
					<button class="btn" v-if="editMode == false && valid == true" v-on:click="create()">Create</button>
					<button class="btn disabled" v-if="editMode == false && valid == false">Create</button>

					<!--Close button-->
					<button class="btn close" v-on:click="hide()">Close</button>
				</div>
	      </div>
    </div>
    <!--Circle "Add" button-->
	<button v-else v-on:click="newBook()" class="circle">
    	Add
    </button>
</div>



<script>
var vueApp = new Vue({
	el: '#vueApp',
	data: {
		search: '',
		data: [],
		visible: false,
		book: null,
		valid: true,
		name: "",
		autor: "",
		description: "",
		editMode: false,
		dialogDescription: ""
	},
	created() {
		this.searchBook("");
	},
	methods: {
		//Search books that contains text in title or author name
		searchBook: function(text){
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/search?q="+encodeURIComponent(text), true);
			xhr.onload = function (e) {
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
						vueApp.data=JSON.parse(xhr.responseText);
					} else {
						alert("Error " + xhr.statusText + " occurred while receiving the document.");
					}
				}
			};
			xhr.onerror = function (e) { alert("Error " + xhr.statusText + " occurred while receiving the document."); };
			xhr.send(null);
		},
		//Hide modal edit/add dialog
		hide: function(){
			this.visible=false;
		},

		//Save edited book
		save: function(){
			this.book.name=this.name;
			this.book.author=this.author;
			this.book.description=this.description;

			var xhr = new XMLHttpRequest();
			var request = "id="+encodeURIComponent(this.book._id)
				+"&name="+encodeURIComponent(this.name)
				+"&author="+encodeURIComponent(this.author)
				+"&description="+encodeURIComponent(this.description);
			xhr.open("GET", "/edit_book?"+request, true);
			xhr.onerror = function (e) { alert("Error " + xhr.statusText + " occurred while receiving the document."); };
			xhr.send(null);

			this.hide();
		},
		//Remove opened book
		remove: function(){
			var xhr = new XMLHttpRequest();
			var request = "id="+encodeURIComponent(this.book._id)
			xhr.open("GET", "/del_book?"+request, true);
			var searchText=this.$root.search;
			xhr.onload = function() {vueApp.searchBook(vueApp.search)};
			xhr.onerror = function (e) { alert("Error " + xhr.statusText + " occurred while receiving the document."); };
			xhr.send(null);

			this.hide();
		},
		//Create new book
		create: function(){
			var xhr = new XMLHttpRequest();
			var request = "name="+encodeURIComponent(this.name)
			+"&author="+encodeURIComponent(this.author)
			+"&description="+encodeURIComponent(this.description);
			xhr.open("GET", "/add_book?"+request, true);
			var searchText=this.$root.search;
			xhr.onload = function() {vueApp.searchBook(vueApp.search)};
			xhr.onerror = function (e) { alert("Error " + xhr.statusText + " occurred while receiving the document."); };
			xhr.send(null);

			this.hide();
		},
		//Open book creation dialog
		newBook: function(){
			this.dialogDescription="Add new book"
			this.name="";
			this.author="";
			this.description="";
			this.editMode=false;
			this.valid = false;
			this.visible=true;
		},
		//Open book edit dialog
		editBook: function(book){ 
			this.dialogDescription="Edit book"
			this.book=book;

			this.name=book.name;
			this.author=book.author;
			this.description=book.description;
			this.editMode=true;
			this.valid = true;
			this.visible=true;
		}
	},
	watch: {
		//Validate book name
		name: function(newVal,oldVal) {
			if(newVal.length > 0){
				this.valid = true;
			}else{
				this.valid = false;
			}
		},
		//Search input text changed
		search: function(newVal,oldVal) {
			this.searchBook(newVal);
		}
	}
})
</script>
</body>

</html>
