body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #444;
  margin:0;
  padding:0;
}

/* Edit/add dialog style */
.edit-table {
  border: 0px;
  padding: 0px 0px;
}

.edit-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  display: table;
  z-index: 9998;
}

.edit-body {
  width: 500px;
  margin: 100px auto;
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .40);
}

/* Material design "Add" circle style*/
.circle {
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  z-index: 98;
  margin: 0 auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #3F51B5;
  transition: 0.2s;
  text-align: center;
  bottom: 10%;
  right: 10%;
  position: fixed;
}
.circle:hover, .circle:focus {
  cursor: pointer;
  background-color: #606fc7;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

/* Buttons style*/
.btn {
  font-size: 15px;
  position: relative;

  margin-right: 20px;
  padding: 10px 30px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  cursor: pointer;
  background-color: #27ae60;
}

.btn.remove {
  background-color: #e74c3c;
}

.btn.remove:hover, .btn.red:focus {
  background-color: #c0392b;
}

.btn.close {
  margin-right: 0px;
  float:right;
  background-color: #e67e22;
}

.btn.close:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.disabled {
  color: #a3a3a3;
  background-color: #dddddd;
}

.btn.disabled:hover, .btn.orange:focus {
  cursor: default;
  color: #a3a3a3;
  background-color: #dedede;
}

.btn-container {
  vertical-align: top;
  padding: 10px 0px;
  width:auto;
}

.books-bg {
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;

}

/* Books style */
.book {
  background-color: #CFD8DC;
  font-size: 16px;
  color: #000;

  padding: 50px 40px;
  margin: 10px 10px;
  width:150px;
  height:230px;

  vertical-align: top;

  display:inline-block;

  text-align: center;

  box-shadow: 0 1px 2px rgba(0, 0, 0, .7);
  transition: background-color .3s;

  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}


.book:hover, .book:focus {
  cursor: pointer;
  background-color: #607D8B;
  color: #fff;
}

/* Site header style */
.header {
  background:#3F51B5;
  color:#fff;
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
}

.search {
  top: 43px;
  right: 4%;
  position: fixed;
}

.title {
  font-size: 18px;
  align: center;
  padding-left: 3%;
  padding-top: 15px;
  position: fixed;
}